<h2><center>Capstone Project - Air accident data severity project </h2>


<h3><center> Applied Data Science Capstone by IBM/Coursera

## Table of contents
* [Introduction: Business Problem](#introduction)
* [Data](#data)
* [Methodology](#methodology)
* [Analysis](#analysis)
* [Results and Discussion](#results)
* [Conclusion](#conclusion)


### Introduction: Business Problem <a name="introduction"></a>

The project will predict  air  accidents' severity based on ICAO data provided for a period of 2008-2020.
Aviation accidents are rare, but when they occur, it can be difficult to determine who is at fault and any probable causes. Several parties, including designated federal agencies, may be part of an aviation accident investigation.
There are more than 100 international and  local organization are involve in air accident investigation  : ICAO, National Transportation Safety Board (USA), Federal Aviation Administration and etc.  These groups of organizations, aircraft producers can be interested in the  project.

### Data <a name="data"></a>

Based on definition of our problem, factors that will influence our decision are: number of accidents, type of accident, types of aircraft,  number of departure, location of accident, type of engine. 
Based on the data will be created clusters of accident 
Following data sources will be needed to extract/generate the required information:
1)ICAO accident data for period 2008-2020
2)World Bank Data , departure statistics from 2008 
3)World countries map with GEO data

In [9]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_fc64c72832fd4bb4acc55e7c706cc0b0 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_fc64c72832fd4bb4acc55e7c706cc0b0.get_object(Bucket='learning-donotdelete-pr-m5xgm8qhlbwnvd',Key='air.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_air = pd.read_csv(body)
df_air.head()# data accident from ICAO

,Date,StateOfOccurrence,Location,Model,Registration,Operator,StateOfOperator,StateOfRegistry,FlightPhase,Class,...,InjuryLevel,TypeDesignator,Helicopter,Airplane,Engines,EngineType,Official,OccCats,Risk,Year
0,"""2008-01-02T00:00:00.000Z""",PHL,Masbate Airport (MBT),NAMC YS11 A,RP-C3592,Philippines Asian Spirit,PHL,PHL,Landing,Accident,...,None,YS11,NaN,True,2,Turboprop,True,"[""RE""]",RS,2008
1,"""2008-01-02T00:00:00.000Z""",IRN,Tehran-Mehrabad Airport (THR),FOKKER F27 100,EP-IDB,"Iran, Islamic Republic Of Iran National Airlin...",IRN,IRN,Take-off,Accident,...,None,F100,NaN,True,2,Jet,True,"[""ICE"",""F-POST""]",OTH,2008
2,"""2008-01-03T00:00:00.000Z""",USA,Oklahoma City,PILATUS PC12,N398J,NaN,NaN,USA,Standing,Accident,...,Fatal,PC12,False,True,1,Turboprop,NaN,"[""RAMP""]",RS,2008
3,"""2008-01-04T00:00:00.000Z""",CHL,NaN,Russian Helicopters (Kamov) Ka-32,EC-JGX,Babcock MCS Espana,NaN,ESP,Standing,Accident,...,None,KA50,True,False,2,Turboprop,NaN,[],NaN,2008
4,"""2008-01-04T00:00:00.000Z""",VEN,A 20 NM del VOR del Gran Roque,LET L410 UVP,YV2081,Venezuela,VEN,VEN,En route,Accident,...,Fatal,L410,NaN,True,2,Turboprop,True,"[""SCF-PP""]",SCF,2008

#### Departues from World Bank Data

In [10]:
body = client_fc64c72832fd4bb4acc55e7c706cc0b0.get_object(Bucket='learning-donotdelete-pr-m5xgm8qhlbwnvd',Key='departure1.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

departure = pd.read_excel(body)
departure.head()

   Unnamed: 0 Country Name Country Code  number_departure
0           0        Aruba          ABW        4408.00000
1           1  Afghanistan          AFG      207031.44600
2           2       Angola          AGO      133293.00000
3           3      Albania          ALB       58625.39008
4           4      Andorra          AND           0.00000

In [12]:
url = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/world_countries.json'
world_geo = wget.download(url)